  <div class="home-banner">
    <div class="container">
      <h1>Welcome to OPEN BAR</h1>
      <br>
      <h4>We bring your favorite bar to your quanrantine!</h4>
      <br>
      <%= link_to "Explore Bar", cocktails_path, class: "home-btn" %>
  </div>
</div>
