.navbar {
  background-color: $black;
  a{
    color: $orange;
  }
  height: 50px;
}

.navbar-lewagon {
  justify-content: space-between;
  background-color: $red;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  background-color: $red;
}
